.login__label {
  width: 440px;
  border: none;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 20px;
  margin-top: 24px;
}

.login__input {
  width: 440px;
  border: none;
  border-style: none;
  outline: none;
  border-bottom: 1px solid #000000;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
}
.login__input-invalid {
  border-bottom: 1px solid red;
}
.login__register {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  left: 135px;
  top: 42px;
}
.login__modal-namespace {
  display: flex;
  flex-direction: column;
}
